git rm -r --cached .config .lesshst Pictures
# Ignore system junk and personal files
.config/
.lesshst
Pictures/
# Ignore Chromium Cache and Config Junk
.cache/
.config/chromium/
.bash_history
.xsession-errors

# Ignore IDE and System Junk
*.log
*.ldb
*.save


